.button:hover{
  background-color:#002ead;
  transition: 0.7s;
  width: 1000px;
}
.button{
  transition: 0.7s;
  width: 1000px;
}
.button2:hover{
  background-color:#00ad25;
  transition: 0.7s;
}
.button2{
  transition: 0.7s;
  width: 1000px;
}
.button3:hover{
  background-color:#ad0000;
  transition: 0.7s;
}
.button3{
  transition: 0.7s;
  width: 1000px;
}
.button4:hover{
  background-color:#a4ad00;
  transition: 0.7s;
}
.button4{
  transition: 0.7s;
  width: 1000px;
}
.button5:hover{
  background-color:#ad00aa;
  transition: 0.7s;
}
.button5{
  transition: 0.7s;
  width: 1000px;
}
.button6:hover{
  background-color:#bfff00;
  transition: 0.7s;
}
.button6{
  transition: 0.7s;
  width: 1000px;
}
